@font-face {
    src: url("../font/whitney-medium.ttf");
}

.background {
    -fx-background-color: #313335;
}

.innerBox {
    -fx-background-color: #313335;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, #000000, 20, 0.001, 0, 0);
    -fx-text-fill: #FFF;
    -fx-border-color: #246FC6;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

Label {
    -fx-background-color: #313335;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-font-family: 'Whitney Medium';
}

Button {
    -fx-background-color: #FFF;
    -fx-text-fill: #000;
    -fx-background-radius: 5;
    -fx-font-size: 14;
    -fx-font-family: 'Whitney Medium';
}

Button:hover {
    -fx-background-color: #DDD;
}

Button:armed {
    -fx-background-color: #AAA;
}

TextField {
    -fx-background-radius: 5;
    -fx-font-size: 14;
    -fx-font-family: 'Whitney Medium';
}

.spaced15 {
    -fx-spacing: 15;
}

.mainBackground {
    -fx-padding: 10;
}

.imgBackground {
    -fx-background-image: url("../img/background.png");
    -fx-background-repeat: stretch stretch;
    -fx-background-position: center center;
    -fx-background-size: 800 500;
}

.registerContent {
    -fx-spacing: 10;
}

.hintedField {
    -fx-alignment: center;
}

.hintedField > Label {
    -fx-min-width: 150;
}

.dirChooserView > TextField {
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 0;
}

.dirChooserView > Button {
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 0 5 5 0;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#1E1E1E 0%, #313335 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: #313335;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0;
}

.table-row-cell:odd {
    -fx-background-color: #424242;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0;
}

.table-row-cell:selected {
    -fx-background-color: #246FC6;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}

Hyperlink {
    -fx-border-color: transparent;
}

Hyperlink:armed {
    -fx-text-fill: #FFF;
}

.avatar {
    -fx-spacing: 5;
}

.avatar > Circle {
    -fx-fill: linear-gradient(from 0% 0% to 100% 100%, #4158d0 , #c850c0);
}

.avatar > Label {
    -fx-background-color: transparent;
    -fx-font-size: 48;
}

.avatarBackground {
    -fx-background-color: #1E1E1E;
    -fx-background-radius: 100;
    -fx-padding: 10;
}

.profileLogo {
    -fx-padding: 5 10 5 10;
}

.profileLogo > Label {
    -fx-background-color: transparent;
    -fx-text-alignment: left;
    -fx-padding: 0 0 0 5;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.hoverFill:hover {
    -fx-background-color: #303348;
}
